
<%include partials/header%>
	<main>
    	<h2> <%=welcomePhrase%></h2>
    	<div class="container">
		  <div class="row">
		    <div class="col-sm"></div>
		    <div class="col-sm"></div>
		    <div class="col-sm">high 5</div>
		    <div class="col-sm">high 5</div>
		    <div class="col-sm">high 5</div>
		    <div class="col-sm">high 5</div>
		    <div class="col-sm">high 5</div>
		    <div class="col-sm">high 5</div>
		    <div class="col-sm">high 5</div>
		    <div class="col-sm"></div>
		  </div>
		  <div class="row">
		    <div class="col-sm"><a href="#"><-</a></div>
		    <div class="col-sm"></div>
		    <div class="col-sm"><a href="#">Saturday</a></div>
		    <div class="col-sm"><a href="#">Sunday</a></div>
		    <div class="col-sm"><a href="#">Monday</a></div>
		    <div class="col-sm"><a href="#">Tuesday</a></div>
		    <div class="col-sm"><a href="#">Wednesday</a></div>
		    <div class="col-sm"><a href="#">Thursday</a></div>
		    <div class="col-sm"><a href="#">Friday</a></div>
		    <div class="col-sm"><a href="#">-></a></div>
		  </div>
		  <%//for each employee%>
		  <div class="row">
		    <div class="col-sm"></div>
		    <div class="col-sm">Jenny</div>
		    <div class="col-sm">10-8</div>
		    <div class="col-sm"></div>
		    <div class="col-sm"></div>
		    <div class="col-sm">10-8</div>
		    <div class="col-sm">10-8</div>
		    <div class="col-sm">10-8</div>
		    <div class="col-sm">10-8</div>
		    <div class="col-sm"></div>
		  </div>
		  <div class="row">
		    <div class="col-sm"></div>
		    <div class="col-sm">Zung</div>
		    <div class="col-sm">10-8</div>
		    <div class="col-sm">10-8</div>
		    <div class="col-sm">10-8</div>
		    <div class="col-sm">10-8</div>
		    <div class="col-sm">10-8</div>
		    <div class="col-sm"></div>
		    <div class="col-sm"></div>
		    <div class="col-sm"></div>
		  </div>
		  <%//}%>
		</div>

		<p><a href="/employees/new" class="btn">Add Employee</a></p>
		<p><a href="#" class="btn">Edit Employees</a></p>
		<p><a href="#" class="btn">Search the archive</a></p>
		<p><a href="#" class="btn">Print to Excel</a></p>

	</main>


<% include partials/footer%>


